<html>
<head>
<title>Global</title>
 </head>
<body>
<div class="wrapper"  ng-controller="global" id="woodimg">

<img style="float:right" src="images/cricketz2.png"/>
<h2 style="position:absolute">Choose your options. </h2>

<br><br><br><br>                                                            
<div class="row" >
<div class="col-md-3 col-md-offset-1">
<div class="well well-sm">
<h4>Pick your format</h4>
<br>
<span style="color:red" ng-hide="tests">Test match</span>&nbsp&nbsp
<div ng-hide="tests"><input type="checkbox" class="checkbox" name="test" ng-model="test" ng-change="stateChange(test)" /></div>
<br>
<span style="color:red" ng-hide="ones">One-Day</span>&nbsp&nbsp
<div ng-hide="ones"><input type="checkbox" class="checkbox"  name="one" ng-model="one" ng-change="stateChange2(one)"/></div>
<br>
<span style="color:red" ng-hide="twentys">Twenty-Twenty</span>&nbsp&nbsp
<div ng-hide="twentys"><input type="checkbox" class="checkbox"  name="twenty" ng-model="twenty" ng-change="stateChange3(twenty)"/></div>
<br>
</div>
</div>
<div class="col-md-3 col-md-offset-1">
<div class="well well-sm">
<h4>Pick your team</h4>
<h6 style="color:red">click on the team name</h6>
<ul>
{{choose}}
<div ng-click="back2()" style="color:blue;cursor:default">{{back}}</div>
<li ng-hide="team" ng-click="teamHide($event)" style="cursor:default">India</li><br>
<li ng-hide="team" ng-click="teamHide($event)" style="cursor:default">England</li><br>
<li ng-hide="team" ng-click="teamHide($event)" style="cursor:default">Australia</li><br>
<li ng-hide="team" ng-click="teamHide($event)" style="cursor:default">Pakistan</li>
</ul>
</div>
</div>
<div class="col-md-3 col-md-offset-1">
<div class="well well-sm">
<h4>Pick your style</h4>
<br>
<span style="color:red" ng-hide="bat">Batting</span>&nbsp&nbsp
<div ng-hide="bat"><input type="checkbox" class="checkbox" name="batt" ng-model="batt" ng-change="stateChange4(batt)" /></div>
<br>
<span style="color:red" ng-hide="bowl">Bowling</span>&nbsp&nbsp
<div ng-hide="bowl"><input type="checkbox" class="checkbox"  name="bow" ng-model="bow" ng-change="stateChange5(bow)"/></div>
<br>
</div>
<button class="btn btn-default btn-sm btn-danger pull-right" ng-click="submit()" data-toggle="modal" data-target="#mod">submit</button>
</div>
</div>
<!--modal-->
<div class="modal" id="mod">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<div style="color:black">Name  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Runs</div>
</div>
<div class="modal-body" id="globalModal">
<table>
<tr ng-repeat="play in array|orderBy:'name'">
<td>{{play.name}}</td>
<td>{{play.runs}}</td>
</tr>
</table>
</div>
<div class="modal-footer">
<button class="btn btn-sm btn-warning pull-right" data-dismiss="modal" >Hide</button>
</div>
</div>
</div>
</div>
</div>
</body>
</html>