<html>
<head>
<title>Home Page:)</title>
 
</head>

			
    <body >	
     <div  ng-controller="crick2">	
    	<div class="row slider1">
		<div class="slidercontainer col-md-8 col-md-offset-2 col-xs-4 col-xs-offset-1">
		<img   ng-repeat="slide in slides" class="slide  img-responsive" ng-hide="!iscurrentslideindex($index)" ng-src="{{slide.image}}"/>
	    </div>
		</div>
		
		<div class="row slider2">
		<div class="slidercontainer col-md-8 col-md-offset-2 col-xs-4 col-xs-offset-1">
		<img   ng-repeat="slide in slides" class="slide  img-responsive" ng-hide="!iscurrentslideindex($index)" ng-src="{{slide.image}}"/>
	    </div>
		</div>
	</div>
	
	   		
		<hr>
		<div id="home">
		<div class="row" ng-controller="home">
		<div ng-hide="form">
		<div class="col-md-4 col-sm-4 col-md-offset-1 ">
		<div class="well well-sm" >		
		<h4>Sign Up<h2><br>
		
		<form name="frm" action="signup.php" method="post">
		<input type="text" name="signname" placeholder="Your name please.." class="form-control " ng-model="user.name1" required/>
		<span ng-show="frm.signname.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<input type="email" name="signmail" placeholder="Your Email id please.." class="form-control" ng-model="user.mail1" required/>
		<span ng-show="frm.signmail.$error.required"><h6 style="color:red">Required!</h6></span>
		<span ng-show="frm.signmail.$error.email"><h6 style="color:red">Not an email.</h6></span>
		<br>
		<input type="password" name="signpass" placeholder="Create your password.." class="form-control" ng-model="user.pass1" required/>
		<span ng-show="frm.signpass.$error.required"><h6 style="color:red">Required!</h6></span><br>
		<button type="submit" class="btn btn-default btn-sm btn-danger pull-right">submit</button>
		</form>
		</div>
		</div>
		<div class="col-md-4 col-sm-4 col-sm-offset-0 col-md-offset-2 ">
		<div class="well well-sm">
		<h4>Log In</h4><br>
		<!--<form action="" method="post">-->
		<input type="text" name="logmail" ng-model="user.name" placeholder="Your Email id please.." class="form-control"  /><br>
		<input type="password" name="logpass" ng-model="user.password" placeholder="your password.." class="form-control" /><br>
		<label><input type="checkbox" class="checkbox" value="" name="logcheck"/>Keep me loged in</label> 
		<button type="submit" ng-click="submit()" class="btn btn-default btn-sm btn-danger pull-right">submit</button>
	    </p>Log in to get access to Legends.</p>
		<!--</form>-->
		</div>
		</div>
		</div>
		<div ng-hide="msg" id="homeHide" class="row">
		<div class="col-md-6" id="firstHalf">
		<h2 style="color:white">You are logged in.</h2>
	   <video width="320" height="240" controls  >
       <source src="logo.mp4" type="video/mp4">
       </video>
	   <br>
	   <button  class="btn btn-default btn-sm btn-danger pull-right" ng-click="logout()">Logout</button>
	   </div>
	   <div class="col-md-6" id="secondHalf" style="color:white">
	   <h3>About:</h3>
	   <ul>
	   <li>Go to legends to vote for your favorite player.</li>
	   <li>See the ramking in Ranks page.</li>
	   <li>Go in global to see all the players of some team.</li>
	   <li>News section contains all the latest and sensible news.</li>
	   </ul>
	   </div>
	   </div>
	   </div>
	   </div>
	   <hr>
	</body>
</html>