<html >
<head>
<title>Legends:)</title>
 
</head>
<body>


<div class="wrapper">


<div   ng-controller="legend" >
<div>
<h2 style="position:absolute">SOME LEGENDS CONCLUDED ON THE BASIS OF POLL AND RECORDS. </h2>

<img style="float:right;margin-bottom:10px" src="images/cricketz2.png"/>
<br><br>
<span class="glyphicon glyphicon-search"></span>&nbsp
<input type="text" placeholder="  legendary search " ng-model="field" style="border:2px solid;border-radius:5px"></input>
<br>
</div>
<br>
<div class="row">
<div class="col-sm-6" ng-repeat="play in array | filter:field">
<div class="well well-sm" style="width:390px" id="woodimg">
<div class="row">
<div class="col-md-6">
<img src="{{play.url}}" ></img>
</div>
<div class="col-md-6" id="plays" >
<h4>{{play.name}}</h4>
<h4>{{play.span}}</h4>
<h4>{{play.birth}}</h4>
<br><br><br>
<button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modd" ng-click="modal(play)">more info</button>
</div>
</div>
</div>
</div>
</div>
<div class="modal" id="modd" style="width:800px;margin:auto; margin-top:30px;">
<div class="modal-dialogue">
<div class="modal-content">
<div class="modal-header" style="background-color:black;">
<h4 >{{currentPlayer.name}}</h4>
</div>
<div class="modal-body" style="background-color:red;">
<div class="row">
<div class="col-xs-8 col-xs-offset-2">

</div>
</div>
<div class="row">
<div class="col-md-6">

</div>
</div>
<div class="modal-footer">
</div>
<button class="btn btn-default btn-sm" data-dismiss="modal">Hide</button>
</div>
</div>
</div>
</div>
</div>



</body>
</html>