<html >
<head>
<title>Legends:)</title>
 
</head>
<body>


<div class="wrapper">


<div   ng-controller="legend" >
<div>
<h2 style="position:absolute">SOME LEGENDS CONCLUDED ON THE BASIS OF POLL AND RECORDS. </h2>

<img style="float:right;margin-bottom:10px" src="images/cricketz2.png"/>
<br><br>
<span class="glyphicon glyphicon-search"></span>&nbsp
<input type="text" placeholder="  legendary search " ng-model="field" style="border:2px solid;border-radius:5px"></input>
<br>
</div>
<br>
<div class="row">
<div class="col-sm-6" ng-repeat="play in array | filter:field">
<div class="well well-sm" style="width:390px" id="woodimg">
<div class="row">
<div class="col-md-6">
<img src="{{play.url}}" ></img>
</div>
<div class="col-md-6" id="plays" >
<h4>{{play.name}}</h4>
<h4>{{play.span}}</h4>
<h4>{{play.birth}}</h4>
<br><br><br>
<button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modd" ng-click="modal(play)">more info</button>
</div>
</div>
</div>
</div>
</div>
<div class="modal" id="modd" style="width:800px;margin:auto; margin-top:30px;">
<div class="modal-dialogue">
<div class="modal-content">
<div class="modal-header" style="background-color:black;">
<h4 style="width:50px;float:left" >{{currentPlayer.name}}</h4>
<img src="{{currentPlayer.flag}}" style="float:right;width:50px"></img>
</div>
<div class="modal-body" style="background-color:red">
<table class="table table-hover">
    <thead>
      <tr>
        <th> </th>
        <th>Matches</th>
        <th>Runs</th>
	    <th>Wickets</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Test</td>
        <td>{{currentPlayer.tmatch}}</td>
        <td>{{currentPlayer.truns}}</td>
        <td>{{currentPlayer.twickets}}</td>
      </tr>
      <tr>
        <td>One-Day</td>
        <td>{{currentPlayer.omatch}}</td>
        <td>{{currentPlayer.oruns}}</td>
		<td>{{currentPlayer.owickets}}</td>
      </tr>
      <tr>
        <td>Twenty-Twenty</td>
        <td>{{currentPlayer.twmatch}}</td>
        <td>{{currentPlayer.twruns}}</td>
		<td>{{currentPlayer.twwickets}}</td>
      </tr>
    </tbody>
  </table>

<div class="modal-footer">
</div>
<b>He said:</b>{{currentPlayer.quote}}
<button class="btn btn-default btn-sm pull-right" data-dismiss="modal">Hide</button>
</div>
</div>
</div>
</div>
<hr>
</div>



</body>
</html>