<html>
<head>
<title>
</title>
</head>
<body>
<div id="wrapper" style="margin-top:0px" ng-controller="ranker">
<div class="row" style="background-color:#F5F5F5">
<div class="col-md-4">
<h3 style="color:#FF7F50">This is <strong>test match</strong> ranking. </h3>
</div>
<div class="col-md-4">
<h3 style="color:#FF7F50">This is <strong>one-day</strong> match ranking. </h3>
</div>
<div class="col-md-4">
<h3 style="color:#FF7F50">This is <strong>20-20</strong> match ranking. </h3>
</div>
</div>
<div id="globalModal">
<hr>
<br>
<div class="row">
<div class="col-md-4">
<button class="btn btn-default btn-md btn-danger" value="Team" ng-click="team1()">Team</button> &nbsp&nbsp
<button class="btn btn-default btn-md" value="Batsman" ng-click="batsman1()"/>Batsman</button>&nbsp&nbsp
<button class="btn btn-default btn-md" value="Bowler" ng-click="bowler1()"/>Bowler</button><br><br>
<div class="well well-sm" style="width:200px" >
<div style="color:black">
<span>Rank</span>&nbsp&nbsp&nbsp&nbsp
<span>Name</span>&nbsp&nbsp&nbsp&nbsp
<span>Rating</span>
</div>
<table  style="width:180px">
<tr ng-repeat="play in array" style="color:yellow" id="woodimg" class="animate">
<td>{{play.rank}}</td>
<td>{{play.name}}</td>
<td style="float:right">{{play.rating}}</td>
</tr>
</table>
</div>
</div>
<div class="col-md-4">
<button class="btn btn-default btn-md btn-danger" value="Team" ng-click="team2()">Team</button> &nbsp&nbsp
<button class="btn btn-default btn-md" value="Batsman" ng-click="batsman2()"/>Batsman</button>&nbsp&nbsp
<button class="btn btn-default btn-md" value="Bowler" ng-click="bowler2()"/>Bowler</button><br><br>
<div class="well well-sm" style="width:200px" >
<div style="color:black">
<span>Rank</span>&nbsp&nbsp&nbsp&nbsp
<span>Name</span>&nbsp&nbsp&nbsp&nbsp
<span>Rating</span>
</div>
<table  style="width:180px">
<tr ng-repeat="play2 in array2" style="color:red" id="woodimg" >
<td>{{play2.rank}}</td>
<td>{{play2.name}}</td>
<td style="float:right">{{play2.rating}}</td>
</tr>
</table>
</div>
</div>
<div class="col-md-4">
<button class="btn btn-default btn-md btn-danger" value="Team" ng-click="team3()">Team</button> &nbsp&nbsp
<button class="btn btn-default btn-md" value="Batsman" ng-click="batsman3()"/>Batsman</button>&nbsp&nbsp
<button class="btn btn-default btn-md" value="Bowler" ng-click="bowler3()"/>Bowler</button><br><br>
<div class="well well-sm" style="width:200px" >
<div style="color:black">
<span>Rank</span>&nbsp&nbsp&nbsp&nbsp
<span>Name</span>&nbsp&nbsp&nbsp&nbsp
<span>Rating</span>
</div>
<table  style="width:180px">
<tr ng-repeat="play3 in array3" style="color:red" id="woodimg" >
<td>{{play3.rank}}</td>
<td>{{play3.name}}</td>
<td style="float:right">{{play3.rating}}</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
</body>
</html>