
* {
	padding: 0;
	margin: 0;
}


body {
	color: #AFAFAF;
	background: #040606 url(images/img01.gif) repeat-x top left;
	line-height: 2em;
	font-size: 12pt;
	-moz-transform: scale(0.9, 0.9); /* Moz-browsers */
     -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
    zoom: 0.9; /* Other non-webkit browsers */
    zoom: 90%;
}

body,input {
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*br.clearfix {
	clear: both;
}*/

a {
	text-decoration: underline;
	color: #E3E3E3;
	
}
a:hover{
	 text-shadow: 1px 1px;
}



strong {
	color: #D9D9D9;
}


h1,h2,h3,h4 {
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-size: 1.75em;
}

#page h4,h2,h3{
	/*color: #E3E3E3;*/
	font-family: Kreon, sans-serif;
	margin-bottom: 1.25em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.75em;
}

ul {
	margin-bottom: 1.75em;
}

ul h4 {
	margin-bottom: 0.4em;
}

.box {
	margin: 0 0 25px 0;
	overflow: hidden;
}
/*.box h2,h3{
	color:green;
}*/

#content {
	width: 420px;
	padding: 0;
	float: left;
}

#footer {
	padding: 60px 0px 90px 0px;
	text-align: center;
	color: #555;
}

#footer a {
	color: #707070;
}
.main3{
		visibility:hidden;
	}
	
.navbar-brand{
	font-size:30px;
}
.navbar-nav{
	font-size:20px;
	margin-left:20px
}
.nav{
	float:right;
}
#small{
	float:right;
	display: none;
}
@media (max-width: 768px) {
  nav ul     { display: none; }
  #small { display: inline-block; }
}
#small{
	margin-top:-40px;
}

/*
@media only screen and (max-width: 768px) {
    
.nav{float:left;}
}

@media only screen and (min-width:241px) and (max-width: 768px) {
    
.main2{
		visibility:hidden;
	}	
	.main3{
		visibility:visible;
	}
	.navbar-nav{
		font-size:13px;
		margin-left:10px
	}
ul.nav{
    display:inline-flex;
}
}
@media only screen and (min-width:0px) and (max-width:241px) {
    
.main2{
		visibility:hidden;
	}	
	.main3{
		visibility:visible;
	}
	.navbar-nav{
		font-size:10px;
		margin-left:0px
	}
ul.nav{
    display:inline-flex;
}
.nav li{
	width:50px;
}
}*/


/*
#header {
	width: 106%;
	padding: 0px;
	height: 100px;
	top:0px;
	background-color:#696969;
	position:fixed;
	opacity:0.8;
	z-index:100;
	left:0px;
	

}
#header:hover{
	background-color:#808080;
}


@-webkit-keyframes log{
	50% {color:red;} 
	50% {color:yellow;}
}

@keyframes log {
    50%   {color: red;}
    50%  {color: yellow;}
}

@-webkit-keyframes log2{
	50% {color:yellow;} /*percentege repersents the time consumed in that frame
	50% {color:red;}
}

@keyframes log2{
    50%   {color: yellow;}
    50%  {color: red;}
}

#logo {
	height: 30px;
	line-height: 0px;
	top: 40px;
	left: 2%;
	/*position: absolute;
}

#logo a{
	color:red;
	left:10%;
	/*font-size:280% ;
	font-family: Kreon, sans-serif;
	-webkit-animation-name:log;
	-webkit-animation-duration:10s;
	-webkit-animation-iteration-count: 100;
	/*for chrome and safari up and standard down
	 animation-name: log;
     animation-duration: 10s;
	 animation-iteration-count: 100;
	 
	
}



#menu {
	/*position: absolute;
	right:0px;
	top: 40px; 
	font-family: Kreon, sans-serif;
	height: 20px;
	line-height: 10px;
	z-index:100;
	width:50%;
	
	
}

#menu a {
	font-size: 160%;
	text-transform: uppercase;
	color:yellow;
	text-decoration: none;
	-webkit-animation-name:log2;
	-webkit-animation-duration:10s;
	-webkit-animation-iteration-count: 100;
	/*for chrome and safari up and standard down
	 animation-name: log2;
     animation-duration: 10s;
	 animation-iteration-count: 100;
	 }

#menu ul {
	/*padding: 0 2% 0 2%;
	list-style: none;
	}

#menu ul li {
	display: inline;
	padding: 0 1% 0 1%;
	}*/

#page {
	margin: 0;
	width: 1100px;
	position: relative;
	padding: 70px 40px 0px 40px;
}

#page .section-list {
	padding-left: 0px;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 25px 0 25px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #404040;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#col1 {
	width: 420px;
	float: left;
	overflow: hidden;
}

#col2 {
	width: 195px;
	margin: 0 0 0 220px;
	overflow: hidden;
	
}

#sidebar1 {
	padding: 0;
	margin: 0 0 0 445px;
	width: 315px;
}

#sidebar2 {
	width: 315px;
	float: right;
	padding: 0;
}

.slidercontainer {
	height:350px ;
	/*width: 800px;*/
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-6%;
	/*margin-left:15%;*/
}
.slider2{
	visibility:hidden;
	}
@media only screen and (max-width: 768px) {
    .slidercontainer {
	height:250px ;
	margin-top:-6%;
	}

}
@media only screen and (max-width: 530px) {
    .slider1{
		visibility:hidden;
		}
		.slider2{
		visibility:visible;
		}
}
/*
@media only screen and (min-width:610px) and (max-width: 770px) {
    .slidercontainer {
	height:250px ;
	width: 500px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-6%;
	margin-left:15%;
	}

}
@media only screen and (min-width:540px) and (max-width: 605px) {
    .slidercontainer {
	height:200px ;
	width: 450px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:8%;
	}

}

@media only screen and (min-width:416px) and (max-width:540px) {
    .slidercontainer {
	height:200px ;
	width: 450px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:4%;
	}

}

@media only screen and (min-width:376px) and (max-width:416px) {
    .slidercontainer {
	height:200px ;
	width: 400px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:1%;
	}

}
@media only screen and (min-width:362px) and (max-width:376px) {
    .slidercontainer {
	height:200px ;
	width: 360px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:1%;
	}

}
@media only screen and (min-width:241px) and (max-width:362px) {
    .slidercontainer {
	height:200px ;
	width: 360px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:0%;
	}

}
@media only screen and (min-width:0px) and (max-width:241px) {
    .slidercontainer {
	height:200px ;
	width: 260px;
	overflow:hidden;
	position:relative;
    background: #e6e6e6;
    margin-top:-4%;
	margin-left:0%;
	}

}*/

.slide{
	position: absolute;
    top: 0;
    left: 0;
}


/*<!--

#slider {
	height: 450px;
	width: 1200px;
	overflow:hidden;
}
#slider.slides{
	
	width:1922;
	height:500;
	margin:0;
	padding:0;
}-->
#slider.slide{
	height:450;
	width:1200;
	
*/
#wrapper {
	background: #000000 ;
	margin: 75px auto 0 auto;
	width: 1180px;
	position: relative;
	box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.05), 0px 0px 30px 0px rgba(0,0,0,0.5);
}
.wrapper h2{
	color:#F0E68C;
	 text-shadow: 1px 1px 3px #7FFFD4;
}
#names li{
    	cursor: crosshair;
		text-decoration: underline;
}
.nav2 {
    text-align: center;
    display: block;
    position:relative;
    z-index: 100;
    left: 0;
    bottom: 80px;
    right: 0;
    height: 48px;
}



#plays{
	color:black;
}
#woodimg{
	background-image:url("images/wood.jpg");
}
#home #homeHide{
	
	margin: 0 0 0 15px;
}
#home{
	background-color:#48D1CC;
}
#home #homeHide #firstHalf{
	background-color:red;
}
#home:hover{
	background-color:#40E0D0;
}
#globalModal{
	background-image:url("images/global.jpg") ;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animate.ng-enter {
  transition:.5s linear all;
  opacity:.5;
}
.slide{
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  
  background: white;
}

.slide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* The finishing CSS styles for the enter animation */
.animate.ng-enter.ng-enter-active {
  opacity:1;
}